
body{
    background-size: cover;
    background-repeat: none;
    background-position: center;
    background-attachment: fixed;
    background-image: url('../images/newBackground.JPG');
    font-family: 'Kalam';font-size: 22px;
    font-size: 16pt;
    color: #3f3f3f;
    text-align: center;
    
}

/*nav li{
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    <img src="images/NailsLogo.JPG" alt="logo" id = "logo" width= 350px class = "logoImg" >
} */
div.about > img{
    justify-content: center;
    border: 5px #000000 solid;
    margin: 10px;
}

.logoImg{
    filter: invert();
}

header{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.navLink{
    margin-top: -40px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    list-style: none;
    text-decoration-line: none;
    
}
a.navItem{
    text-decoration: none;
    justify-content: space-between;
}
@-webkit-keyframes logo_movement{
    from {width:25px;}
    to {width:350px;}
}
  
@keyframes logo_movement{
    from {width:25px;}
    to {width:350px;}
} 
  
#logo{
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-name: logo_movement;
}

.work{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

div.work > img{
    border: 5px #000000 solid;
    margin: 10px;
    width: 140px;
    height: 187px
}

table{
    border-radius: 10px;
    margin: auto;
    border: 2px solid #000000;
    text-align: center;
}

.colhead {
    vertical-align: middle;
    background-color: #d3d3d3d3;
    padding: 10px;
}

.rowhead{
    padding: 10px;
    border-right: 2px solid #000000;
    border-top: 2px solid #000000;  
}

thead tr:first-child th:first-child{
    border-top-left-radius: 10px;
}
  
thead tr:first-child th:last-child{
    border-top-right-radius: 10px;
}
  
tbody tr:last-child th:first-child{
    border-bottom-left-radius: 10px;
}
  
tbody tr:last-child td:last-child{
    border-bottom-right-radius: 10px;
}

tr:nth-child(even) {
    background-color: rgba(0, 0, 0, .2);
  }